@model Everyday.Models.Marca

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #name {
        font-weight: bold;
        font-size: 25px;
    }

    #btnX {
        position: absolute;
        top: 18%;
        left: 90%;
        transform: translate(-18% -90%)
    }

    #btnBack {
        text-decoration: none;
        font-weight: bold;
    }

    #btnEliminar {
        position: absolute;
        top: 85%;
        left: 47%;
        transform: translate(-85% -47%)
    }
</style>

<br />
<div class="container text-danger" style="margin:auto; text-align:center;">
    <h4>¿Quieres eliminar el registro?</h4>
    <br />
</div>
<div class="container" style="background-color: transparent; margin: auto; display: flex; justify-content:center;">
    <div style="text-align:center; background-color: transparent;">
        <div>
            <img id="imgMarca" src="@Url.Action("MostrarImagen", "Marca", new { id = Model.idMarc })" style="border-radius: 10px; width: 300px; height: 300px;" alt="None..." />
        </div>
        <br />
        <div id="name">
            @Html.DisplayFor(model => model.nameMarc)
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="btnEliminar">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>

<div id="btnX">
    @Html.ActionLink("x", "Index", null, new { id = "btnBack" })
</div>