@model Everyday.Models.Marca

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #name {
        font-weight: bold;
        font-size: 25px;
    }

    #btnX {
        position: absolute;
        top: 18%;
        left: 90%;
        transform: translate(-18% -90%)
    }

    #btnBack {
        text-decoration: none;
        font-weight: bold;
    }
</style>

<br /><br /><br />
<div class="container" style="background-color: transparent; margin: auto; display: flex; justify-content:center;">
    <div style="text-align:center; background-color: transparent;">
        <div>
            <img id="imgMarca" src="@Url.Action("MostrarImagen", "Marca", new { id = Model.idMarc })" style="border-radius: 10px; width: 300px; height: 300px;" alt="None..." />
        </div>
        <br />
        <div id="name">
            @Html.DisplayFor(model => model.nameMarc)
        </div>        
    </div> 
</div>

<div id="btnX">
    @Html.ActionLink("x", "Index", null, new { id = "btnBack" })
</div>
