@model IEnumerable<Everyday.Models.Marca>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<div class="container" style="display: flex; flex-wrap: wrap; width: 100%; background-color: transparent; justify-content: space-between; overflow: auto;">
    @foreach (var item in Model)
    { 
        <div style="margin-top: 10px;">
            <ul>
                <a style="cursor:pointer;" href="@Url.Action("Show", "Marca", new { Id = item.idMarc })">
                    <img style="margin-left:-30px;" src="@Url.Action("MostrarImagen", "Marca", new { Id = item.idMarc })" alt="None..." />
                </a>
            </ul>
        </div>
    }
</div>
@*<div>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })
</div>*@

@*<script>
    // REDIRECCIONAR
var menu = document.getElementById("menuDesple");
var urlBase = "https://localhost:44344/Marca/";

    menu.addEventListener("change", function () {
    window.location.href = urlBase + opcionSeleccionada;
</script>*@