@model Everyday.Models.Categoria

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #nameCateg, select, textarea {
         max-width: 400px; 
    }

    #nameCateg {
        width: 400px;
        height: 40px;
        font-size: 18px;
        margin-left: 15px;
    }

    #nameCateg:focus {
        outline: none;
    }

    label {
        font-size: 20px;
        margin-left: 15px;
    }
</style>

<br /><br />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div style="margin: auto; width: 35%;" class="container card">
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <label>Categoria</label>
            <div style="background-color:transparent;">
                @Html.EditorFor(model => model.nameCateg, new { htmlAttributes = new { required = "", @class = "form-control" } })
            </div>
        </div>
        <br /><br />
        <div style="display:flex; justify-content: space-between;">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Volver", "Index", null, htmlAttributes: new { @class = "btn btn-warning" })
            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>            
        </div>
        <br />
    </div>
}
