@model List<Everyday.Models.Producto>

@{
    ViewBag.Title = "Shirts";
    Layout = null;
}

<style>
    #btnLink {
        text-decoration: none;
        color: black;
        font-size: 20px;
        background-color: rebeccapurple;
    }

    #btnLink:hover {
        text-decoration: none;
        color: dodgerblue;
    }

    #btn {
        border: none;
        background-color: gold;
        width: 100px;
        height: 40px;
        border-radius: 5px;
        cursor: hand;
    }

    a {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: none;
        color: blue;
    }
</style>

<h2 style="margin-left:50px;">Camisas</h2>
<div class="container" style="display: flex; flex-wrap: wrap; background-color: transparent;  height: 220px;">
    @foreach (var item in Model)
    {
        <div style="margin:15px;">
            <div style="text-align:center; background-color: transparent; width: 100%; height: 250px;">
                <img src="@Url.Action("MostrarImagen", "Producto", new { Id = item.idProd })" alt="..." id="imgUser" style="width:150px; height:150px; border-radius:10px;" />
                <br /><br />
                @Html.ActionLink(item.description, "Description", new { Id = item.idProd }, htmlAttributes: new { target = "blank" })
            </div>
        </div>
    }
</div>
@*<a id="btnLink" href="https://localhost:44344/Categoria/Show" t<>
    <input id="btn" type="button" value="Volver" />
</a>*@

<script src="~/Models/JavaScript.js"></script>