@model List<Everyday.Models.Producto>

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #btnLink {
        text-decoration: none;
        color: black;
        font-size: 20px;
        background-color: transparent;
    }

    #btnLink:hover {
        text-decoration: none;
        color: dodgerblue;
    }

    #btn {
        border: none;
        background-color: gold;
        width: 100px;
        height: 40px;
        border-radius: 5px;
    }

    a {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: none;
        color: blue;
    }
</style>

<div style="margin: auto;">
    @Html.ActionLink("Volver", "Home", "Home", null, new { @class = "btn btn-warning", @style = "float: right; margin-right: 20px;" })
</div>
<div class="container" style="display: flex; flex-wrap:wrap; background-color: transparent; margin:auto;">
    @foreach (var item in Model)
    {
        <div style="margin:15px;">
            <div style="text-align:center; background-color: transparent; width: 100%; height: 250px;">
                <a href="@Url.Action("Description", "Categoria", new { Id = item.idProd })">
                    <img id="imgProd" src="@Url.Action("MostrarImagen", "Producto", new { Id = item.idProd })" alt="..." style="width:150px; height:150px; border-radius:10px;" />
                </a>
                <br /><br />
                @Html.ActionLink(item.nameProd, "Description", new { Id = item.idProd })
            </div>
        </div>
    }
</div>












<!--<div id="box-main1" style="background-color: transparent; width: 1280px; margin:auto;">
    
    <div id="boxCamisas" >
        <iframe src="https://localhost:44344/Categoria/Shirts" style="width: 100%; height: 300px; padding: 5px;"></iframe>
    </div>
    <div id="boxPantalones">
        <iframe src="https://localhost:44344/Categoria/Pants" style="width: 100%; height: 300px; padding: 5px;"></iframe>
    </div>-->

    @*<a id="btnLink" href="https://localhost:44344/Categoria/Show">
        <input id="btn" style="cursor:hand;" type="button" value="Volver" />
    </a>*@
<!--</div>-->

