@model Everyday.Models.Tarjeta


@{
    ViewBag.Title = "Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #box-Tarjeta {
        width: 600px;
        height: 450px;
        background-color: green;
        border-radius: 15px;
        margin: auto;
        margin-top: 40px;
        text-align: center;
        background-color: silver;
    }

    #btnDirec, #numTarjet, #expireDate, #cvv {
        width: 450px;
        height: 50px;
        border: none;
        border-radius: 7px;
        text-align: center;
    }

    #btnDirec, #expireDate, #cvv:focus {
        outline:none;
    }

    #expireDate, #cvv {
        width: 200px;
        margin-left: 65px;
    }
</style>

@using (Html.BeginForm("Pago", "Tarjeta", FormMethod.Post))
 {
    <div id="box-Tarjeta">
        <label style="margin-top:20px; font-weight:bold; font-size: 30px;">Ya casi...</label>
        <br /><br />
        <input id="btnDirec" type="text" placeholder="Dirección" />
        <br /><br />
        <label style="font-size: 20px;">Método de pago</label>
        <br />
        @Html.TextBoxFor(t => t.numTarjet, new { placeholder = "# Tarjeta" })
        <br /><br />
        <div style="display: flex; text-align: center;">
            @Html.TextBoxFor(t => t.expireDate, new { placeholder = "MM/AA" })

            @Html.TextBoxFor(t => t.cvv, new { placeholder = "CVV" })
        </div>
        <br /><br />
        <input type="button" value="Aceptar" style="font-size: 20px; border:none; border-radius:5px; width: 200px; height: 50px; background-color: dodgerblue;" />
    </div>
 }