
<style>
    #menuDesplegable:focus {
        outline: none;
        border: none;
        text-decoration: none;
    }
</style>

<ul class="navbar-nav" style="margin-top: 8px; text-decoration:none; border:none;">
    <li style="background-color:transparent; color: black; font-size: 20px;">
        <input id="btnCategorias" style="background-color: transparent; font-size: 20px; border: none;" type="button" value="Categorias" />
        <select onchange="location = this.value;" id="menuDesplegable" style="background-color: transparent; width: 15px; border: none; text-decoration: none;">
            <option style="display: none; background-color: rgba(240, 240, 240, 0.5);" value="">Categorias</option>
            @{
                using (Everyday.Models.EverydayDB db = new Everyday.Models.EverydayDB())
                {
                    foreach (var item in db.Categoria)
                    {
                        <option style="background-color: rgba(240, 240, 240, 0.5);" value="@Url.Action("See", "Categoria", new { Id = item.idCateg })">@item.nameCateg</option>
                    }
                }
            }
        </select>
    </li>
</ul>

<script>
    // TODAS LAS CATEGORIAS
    var boton = document.getElementById("btnCategorias");

    boton.addEventListener("click", function () {
        window.location.href = "https://localhost:44344/Categoria/Show";
    });
</script>