
@if (Session["user"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        System.Data.SqlClient.SqlConnection connection = new System.Data.SqlClient.SqlConnection("data source=FRANK; initial catalog=EverydayDB; integrated security=True");
        string query = "SELECT nameUser FROM Usuario WHERE idUser="+ Session["user"] + "";
        connection.Open();
        System.Data.SqlClient.SqlCommand cmd = new System.Data.SqlClient.SqlCommand(query, connection);
        string usuario= cmd.ExecuteScalar().ToString();
        connection.Close();

        <ul class="navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hola " + usuario + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="nav-link" })
            </li>
            <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Salir</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "SignUp", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="nav-link" })</li>
        <li>@Html.ActionLink("Logearse", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="nav-link" })</li>
    </ul>
}
