@model Everyday.Models.Usuario

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: white;
    }

    .caja {
        background-color: transparent;
        margin: 50px auto;
        width: 51%;
        display: flex;
        justify-content: center;
    }

    .Imagen {
        box-sizing: border-box;
        background-color: #171617;
        width: 340px;
        height: 420px;
    }

    #imagen {
        background-color: #171617;
        width: 340px;
        height: 420px;
        margin-right: 100px;
    }

    /* LOGIN */
    .texto {
        margin-top: 0;
        font-weight: bold;
        text-align: center;
        font-family: 'Book Antiqua';
        color: white;
        margin-bottom: 30px;
    }

    .login-box {
        border-radius: 7px;
        box-sizing: border-box;
        background-color: #171617;
        font-family: 'Book Antiqua';
        font-size: 1.5rem;
        color: white;
        width: 320px;
        height: 420px;
        text-align: center;
        justify-content: center;
        padding: 35px 0px 35px 0px;
    }

    label {
        font-size: 1.5rem;
        font-weight: bold;
    }

    #email, #keyUser {
        padding: 15px 0px 15px 0px;
        background-color: gray; /*rgba(47, 47, 47, 0.35);*/
        color: white;
        text-align: center;
        border: none;
        border-radius: 5px;
        width: 120%;
        height: 50px;
        outline: none;
        font-size: 20px;
        margin-bottom: 30px;
    }

    input::placeholder {
        color: white;
    }

    #enviar {
        cursor: pointer;
        border-radius: 5px;
        background-color: #FECA76;
        color: black;
        width: 175px;
        height: 43px;
        font-weight: bold;
        font-size: 1.4rem;
        border: none;
        margin: 0px 0px 15px 0px; /* 0px Arriba, 0px Izquierda, 10px Abajo, 0px Derecha*/
    }

    #btnRegistrarse {
        cursor: pointer;
        background-color: limegreen;
        color: white;
        font-weight: bold;
        width: 140px;
        border-radius: 5px;
        font-size: 1.3rem;
        border: none;
        margin-top: 15px;
    }

    #box-linea {
        padding: 0px 25px 0px 25px;
    }

    #box-linea hr {
        background-color: white;
    }

    /* MENSAJE DE ERROR */
    .alert {
        margin: auto;
        width: 30%;
    }
</style>

<body>
    <div class="caja">
        <div class="login-box">
            <h3 class="texto">Iniciar Sesión</h3>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @*<label>Usuario</label>*@
                @*<input type="text" name="email" id="email" autocomplete="off" placeholder="Correo electrónico" required="" />*@
                @Html.TextBoxFor(u => u.email, htmlAttributes: new { placeholder = "Correo", autocomplete = "off" })
                @*<label>Contraseña</label>*@
                @Html.TextBoxFor(u => u.keyUser, htmlAttributes: new { type = "password", placeholder = "Contraseña", autocomplete = "off" })
                @*<input type="password" name="clave" id="clave" placeholder="Contraseña" required="" />*@
                <input type="submit" value="Iniciar sesión" id="enviar" />
            }
            <div id="box-linea">
                <hr runat="server" class="dropdown-divider" />
            </div>
            <a href="https://localhost:44344/Account/SignUp">
                <button id="btnRegistrarse">Registrarse</button>
            </a>
        </div>
    </div>
    <div style="text-align:center;">
        <h4 class="text-danger">@ViewBag.Error</h4>
    </div>
</body>

